:root {
    --color-label-clear: #696969;

    --color-input-clear: #7c9c85;
    --color-back-input-clear: #e8e8e8;
    --color-outline-input-clear: #cfcfcf;
    --color-parrafos-clear: #b57f7f;
    --color-pendiente-clear: #825b5b;
}
body {
    
}
    .pendiente {
        color: var(--color-pendiente-clear);
        font-weight: bold;
    }
    .parrafos {
        color: var(--color-parrafos-clear);
    }
    .cont-input {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .input {
        border: none;
        border-radius: 15px;
        padding: 10px;
        background-color: var(--color-back-input-clear);
        box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
        font-size: medium;
        color: var(--color-input-clear);
    }
    .textarea{
        width: 100%;
    height: 40%;
    }
    
    .input::placeholder {
        color: var(--color-input-clear);
    }

    .input:focus {
        outline-color: var(--color-outline-input-clear);
    }
    .select {
        border-radius: 10px !important;
    }
    .label {
        color: var(--color-label-clear);
        font-weight: bold;
        font-size: large;
        margin-bottom: 3%;
    }
    .form-btn {
        width: 30%;
        margin-top: 2%;
    }
    .cont-form{
        display: flex;
        justify-content: flex-start;
    }
    .form{
        margin-left: 5%;
    }
    
  
  
  

    .cont-paginacion{
        display: flex;
        justify-content: center;
    }

@media (max-width: 768px) {
    .pendiente {
        margin-top: 2%;
    }
    .form-btn {
        width: 80%;
        text-align: center;
    }
    .textarea{
        width: 100%;
    height: 60%;
    }
    
    .input{
        width: 100%;
    }

}
